
body{
	background-color:#F6F8FC;
	font-family:;
	
}
form{
	padding-top: 100px;
}
div#container2{
	margin-top: 100px;
	padding-top:10px;
	padding-bottom: 10px; 
	width: 400px;
	height: 400px;
	background-color:white;
	border-radius:10px;
	font-family: Calibri ;
	box-shadow: 0px 4px 4px  #c08442;
	margin-right:auto; 
	margin-left:auto;
	text-align: center;	
}
div#container{
	margin-top: 100px;
	padding-top:10px;
	padding-bottom: 10px; 
	width: 400px;
	height: 400px;
	background-color:white;
	border-radius:10px;
	font-family: Calibri ;
	box-shadow: 0px 4px 4px  #AA83E4;
	margin-right:auto; 
	margin-left:auto;
	text-align: center;	
}
div#container2{
	margin-top: 0px;
	padding-top:-100px;
	padding-bottom: 1px; 
	width: 400px;
	height: 300px;
	background-color:white;
	border-radius:10px;
	font-family: Calibri ;
	box-shadow: 0px 4px 4px  #AA83E4;
	margin-right:auto; 
	margin-left:auto;
	text-align: center;	
}
#box{
	height: 30px;
	width: 200px;
	border-color: lightgrey;
	border-width: 0px;
	border-radius: 7px;
	border: solid 1px lightgrey;
	margin-bottom: 10px;
}
#box:hover{
	box-shadow: 0px 2px 2px  lightgrey;
}
#button{
	border-radius: 3px;
	border:solid 1px #AA83E4;
	background-color:#AA83E4;
	height: 40px; 
	width: 300px;
}
#button2{
	border-radius: 3px;
	border:solid 1px #c08442;
	background-color:#c08442;
	height: 40px; 
	width: 300px;
}
#button2:hover{
	box-shadow: 0px 2px 2px  black;
}
#button:hover{
	box-shadow: 0px 2px 2px  #8759CB;
}
#btncloche{
	border-radius: 3px;
	border:solid 1px #D7D7D7;
	background-color:#D7D7D7;
	height: 50px; 
	width: 250px;
}
#btncloche:hover{
	box-shadow: 0px 2px 2px  #9F9F9F;
}
#btnTcp{
	background-color: #959393;
	border-radius: 3px;
	border:solid 1px #D7D7D7;
	height: 50px; 
	width: 250px;
}
#form1{
	padding-top: 10px;
	}